<div ng-controller=gruposController>
    <h3 style="margin-left: 42%;color: white">Grupos de {{nome}}</h3>
    <div style="margin-left: 38%"  class="btn-group" role="group" aria-label="Basic example">
        <button type="button" ng-click="redirect('add')" class="btn btn-secondary">Adicionar</button>
        <button type="button" ng-click="redirect('voltar')" class="btn btn-secondary">Voltar</button>
    </div>
    <table class="table">
        <thead>
            <tr>
            <th style="color: white" scope="col">#</th>
            <th style="color: white" scope="col">Nome</th>
            <th style="color: white" scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="grupo in grupos">
                <th style="color: white" scope="row">{{grupo.id}}</th>
                <td style="color: white">{{grupo.nome}}</td>
                <td style="color: white">
                    <div  class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" ng-click="submit('msgview',grupo.id,grupo.nome)" class="btn btn-secondary">Ver Mensagens</button>
                        <button type="button" ng-click="submit('msgsend',grupo.id,grupo.nome,grupo.id)" class="btn btn-secondary">Enviar Mensagem</button>
                        <textarea id="{{grupo.id}}" maxlength="32" placeholder="Digite o texto e clique em enviar Mensagem!"></textarea>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>