
<div ng-controller=homeController>
    <h3 style="margin-left: 42%;color: white">Bem Vindo(a)</h3>
    <h2 style="margin-left: 45%;color: white">{{nome}}</h2> 
    <div style="margin-left: 38%"  class="btn-group" role="group" aria-label="Basic example">
            <button type="button" ng-click="redirect('contatos')" class="btn btn-secondary">Contatos</button>
            <button type="button" ng-click="redirect('grupos')" class="btn btn-secondary">Grupos</button>
            <button type="button" ng-click="redirect('sair')" class="btn btn-secondary">Sair</button>
    </div>
</div>
  
  
    